<!doctype html>
<html>
  <head>
    <title>Sockityak - {% block title %} Channels {% end %}</title>

    <link rel="stylesheet" type="text/css" href="/static/css/authd-template.css" />
    {% block css %}{% end %}
  </head>

  <body>
    <header id="page-header">
      <a id="home-page" href="/">Channels</a>
    </header>

    {% block content %}
    {% end %}

    <script src="/static/js/jquery-1.7.1.min.js"></script>
    <script src="/static/js/underscore-min.js"></script>
    <script src="/static/js/backbone-min.js"></script>
    {% block javascript %}
    {% end %}
  </body>
</html>
