{% extends "authd-template.html" %}

{% block title %}
## {{ channel }}
{% end %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/channel.css" />
{% end %}

{% block content %}
<h1 id="channel-name">##{{ channel }}</h1>

<ul id="chatroom">
  <button id="load-past">Load past chats</button>
</ul>
<form method="POST" id="form">
  <button type="button" id="submit">SUBMIT</button>
  <div id="post-cont">
    <input type="text" name="post" id="post" />
  </div>
</form>

<script type="text/template" id="line-template">
  <span class="timestamp"></span>
  <span class="line-number"></span>
  <span class="username"></span>
  <span class="message"></span>
</script>
{% end %}

{% block javascript %}
<audio id="tone1" src="/static/aud/pentatonic-cis5.wav" preload="auto"></audio>
<audio id="tone2" src="/static/aud/pentatonic-dis5.wav" preload="auto"></audio>
<audio id="tone3" src="/static/aud/pentatonic-fis5.wav" preload="auto"></audio>
<audio id="tone4" src="/static/aud/pentatonic-gis5.wav" preload="auto"></audio>
<audio id="tone5" src="/static/aud/pentatonic-ais5.wav" preload="auto"></audio>
<script type="text/javascript">
  var channel = "{{ channel }}";
  var user = "{{ user }}";
</script>
<script src="/static/js/script.js"></script>
{% end %}
