{% extends "authd-template.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/list.css" />
{% end %}

{% block content %}
<ul id="channels">
  {% for channel in channels %}
  <li>
    <a class="channel-link" href="/channel/{{ channel['name'] }}">
      ##{{ channel['name'] }}</a>
    <span class="channel-update">{{ channel['updated'] }}</span>
  </li>
  {% end %}
  <button id="new-channel">Make new channel</button>
</ul>
{% end %}

{% block javascript %}
<script src="/static/js/index.js"></script>
{% end %}
